<!-- Section: about -->
<section id="about" class="home-section color-dark bg-white">
    <div class="container marginbot-50">
        <div class="row">
            <div class="col-lg-12 col-lg-offset-0">
                <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
                    <div class="section-heading text-center">
                        <h2 class="h-bold">Hakkımızda</h2>
                        <div class="divider-header"></div>
                        <p>Ulaştırma, Denizcilik ve Haberleşme Bakanlığı tarafından verilen TMGD sertifikasının ADR’ye taraf olan 48 üye ülkede geçerliliği vardır. Ulaştırma Bakanlığı haricinde başka hiçbir akreditasyona gerek yoktur!

                            Özel eğitim sektöründe 25 yıllık tecrübemiz ve eğitim kalitemizle 2015 itibariyle Tehlikeli Madde Güvenlik Danışmanı eğitimlerine başlamış bulunuyoruz.

                            Ülke genelinde ihtiyaç duyulan 50 bin TMGD’nin en iyi şartlar altında eğitim alması ve alanında uzman birer danışman olabilmeleri için uzman eğitmen kadromuz ve personelimizle Denizli’de eksikliği duyulan bir eğitim kurumunu hizmetinize sunmaktan memnuniyet duyuyoruz.</p>
                        <h3 class="h-light">Vizyonumuz</h3>
                        <div class="divider-header"></div>

                        <p>İleride bu sektörde sadece bölgemizde değil tüm Türkiye’de ulaşım sektörünün tercih edilen bir kuruluşu haline gelmek.</p>
                        <h3 class="h-light">Misyonumuz</h3>
                        <div class="divider-header"></div>

                        <p>Sektörde disiplinli eğitim felsefemiz ve başarılı eğitimcilerimiz ile birlikte mesleğini seven sorumluluk sahibi adaylarımızın en kısa zamanda Başarılı olmalarını sağlamak ve sektörde eğitimli bilinçli bireylerin sayısını arttırmak için varız.</p>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="text-center">
        <div class="container">


            <div class="row">
                <div class="col-xs-6 col-sm-3 col-md-3">
                    <div class="team-wrapper-big wow bounceInUp" data-wow-delay="0.2s">
                        <div class="team-wrapper-overlay">
                            <h5>Salih Özdemir</h5>
                            <!--   <p>Graeco voluptua sed ea, malorum quaeque cotidieque per eu, quo id possit dissentias.</p> -->
                            <div class="social-icons">
                                <ul class="team-social">
                                    <li class="social-facebook"><a href="https://www.facebook.com/salih.ozdemir.522?fref=ts&__mref=message_bubble"><i class="fa fa-facebook"></i></a></li>

                                </ul>
                            </div>
                        </div>
                        <img style="width: 245px;" src="{{ asset("Valera/img/team/1a.png") }}" alt="" />
                    </div>
                </div>

                <div class="col-xs-6 col-sm-3 col-md-3">
                    <div class="team-wrapper-big wow bounceInUp" data-wow-delay="0.5s">
                        <div class="team-wrapper-overlay">
                            <h5>Ali Rıza Özdemir</h5>
                            <!--    <p>Graeco voluptua sed ea, malorum quaeque cotidieque per eu, quo id possit dissentias.</p> -->
                            <div class="social-icons">
                                <ul class="team-social">
                                    <li class="social-facebook"><a href="https://www.facebook.com/profile.php?id=100010462307361&fref=ts&__mref=message_bubble"><i class="fa fa-facebook"></i></a></li>

                                </ul>
                            </div>
                        </div>
                        <img style="width: 200px;" src="{{ asset("Valera/img/team/2a.png") }}" alt="" />
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3">
                    <div class="team-wrapper-big wow bounceInUp" data-wow-delay="0.8s">
                        <div class="team-wrapper-overlay">
                            <h5>Sümeyra Tüfekçi</h5>
                            <!--  <p>Graeco voluptua sed ea, malorum quaeque cotidieque per eu, quo id possit dissentias.</p> -->
                            <div class="social-icons">
                                <ul class="team-social">
                                    <li class="social-facebook"><a href="https://www.facebook.com/profile.php?id=100011514935341&fref=ts&__mref=message_bubble"><i class="fa fa-facebook"></i></a></li>

                                </ul>
                            </div>
                        </div>
                        <img style="width: 235px;" src="{{ asset("Valera/img/team/3a.png") }}" alt="" />
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3">
                    <div class="team-wrapper-big wow bounceInUp" data-wow-delay="1s">
                        <div class="team-wrapper-overlay">
                            <h5>Ahmet Cayık</h5>
                           <!--  <p>Graeco voluptua sed ea, malorum quaeque cotidieque per eu, quo id possit dissentias.</p> -->
                            <div class="social-icons">
                                <ul class="team-social">
                                    <li class="social-facebook"><a href="https://www.facebook.com/ahmetcayik?fref=ts&__mref=message_bubble"><i class="fa fa-facebook"></i></a></li>

                                </ul>
                            </div>
                        </div>
                        <img style="width: 217px;" src="{{ asset("Valera/img/team/4a.png") }}" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Section: about -->