<!-- Section: parallax 2 -->
<section id="parallax2" class="home-section parallax text-light" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row appear stats">
            <div class="col-md-3">
                <div class="align-center color-white txt-shadow">
                    
                    <strong class="number" style="color: black;">%</strong><strong id="counter-coffee" style="color: black;" class="number"> 90</strong><br />
                    <span class="text" style="color: black;">Eğitim</span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="align-center color-white txt-shadow">

                    <strong class="number"style="color: black;" >%</strong><strong id="counter-music" style="color: black;" class="number">95</strong><br />
                    <span class="text" style="color: black;">Hizmet</span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="align-center color-white txt-shadow">

                    <strong class="number" style="color: black;">%</strong><strong id="counter-clock" style="color: black;" class="number">100</strong><br />
                    <span class="text" style="color: black;">Kalite</span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="align-center color-white txt-shadow">

                    <strong class="number" style="color: black;">%</strong><strong id="counter-heart" style="color: black;" class="number">100</strong><br />
                    <span class="text" style="color: black;">Memnuniyet</span>
                </div>
            </div>
        </div>
    </div>
</section>


