<!-- Navigation -->
<div id="navigation">
    <nav class="navbar navbar-custom" role="navigation">
        <div class="container">
            <div class="row">
                <div class="col-md-2 mob-logo">
                    <div class="row">
                        <div class="site-logo">
                            <a href="index.html"><img style="width: 150px;" src="{{ asset("Valera/img/logo1.png") }}" alt="" /></a>
                        </div>
                    </div>
                </div>


                <div class="col-md-10 mob-menu">
                    <div class="row">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                                <i class="fa fa-bars"></i>
                            </button>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="menu">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="active"><a href="{{ path("default") }}">Ana Sayfa</a></li>
                                <li><a href="#about">Hakkımızda</a></li>
                                <li><a href="#service">Hizmetlerimiz</a></li>
                                <li><a href="#contact">Online Başvuru</a></li>

                                <li><a href="#announ">Duyurular</a></li>
                              <!--  <li><a href="#works">S.S.S</a></li>-->
                                <li><a href="#footer">İletişim</a></li>
                              <!--  <li class="dropdown nav-toggle">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menü<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a class="external" href="#">TEHLİKELİ MADDE FAALİYET BELGESİ</a></li>


                                    </ul>
                                </li>-->
                            </ul>
                        </div>
                        <!-- /.Navbar-collapse -->
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </nav>
</div>
<!-- /Navigation -->