{% extends "base.html.twig" %}
{% block body %}


    <div id="primary" class="container margintop-40">

            <article id="post-149" class="post-149 page type-page status-publish hentry">

                <header class="entry-header">
                    <h3 class="entry-title single-title" itemprop="headline">Psikoteknik Belgesi</h3>				<div class="colored-line-left"></div>
                    <div class="clearfix"></div>
                </header><!-- .entry-header -->

                <div class="entry-content content-page " itemprop="text">
                    <p><strong>PSİKOTEKNİK BELGESİ NEDİR ?</strong></p>
                    <p>Sağlık bakanlığının denetiminde onaylı kurumlar tarafından kişinin bedensel ve psikolojik durumunun sürücülük yapmaya elverişli olduğunu, psikolog ve simülatör aletinin eşliğinde 1 saat süren test ve bu test sonucunda verilmiş olan rapordur.</p>
                    <p><strong>PSİKOTEKNİK RAPORUNU KİMLER ALMALI?</strong></p>
                    <p><strong>Karayolu Taşıma Yönetmeliği</strong></p>
                    <p><b></b><strong>Şoförlerde aranacak nitelik ve şartlar</strong><br>
                        <b></b><br>
                        <b>MADDE 36- (1)</b>&nbsp;Bu Yönetmelik kapsamındaki faaliyetlerde çalışan/çalıştırılan şoförlerin;</p>
                    <p><b><strong>a)</strong></b>&nbsp;Taşıtın niteliğine uygun sürücü belgesine sahip olmaları,</p>
                    <p><strong>b)</strong>&nbsp;İlgili mevzuatın öngördüğü mesleki yeterlilik belgesine sahip olmaları,</p>
                    <p><b><strong>c)</strong></b>&nbsp;Büyük otobüs kullananlarının 26 yaşından gün almış olmaları,</p>
                    <p><b><strong>ç)</strong></b>&nbsp;63 yaşından gün almamış olmaları,</p>
                    <p><b><strong>d)</strong></b>&nbsp;(Değişik: Resmi Gazete 31/12/2010-27802) Şoförlük mesleği bakımından bedeni ve psikoteknik açıdan sağlıklı olduklarını gösteren bir sağlık raporunu yetkili sağlık kuruluşlarından her beş yılda bir almaları,</p>
                    <p><strong>e)</strong>&nbsp;Tehlikeli madde taşıyan taşıtları kullananlarının, ilgili mevzuatın öngördüğü eğitimi aldığını gösteren belgeye sahip olmaları,</p>
                    <p><strong>f)</strong>&nbsp;Uyuşturucu, silah, insan ve gümrük kaçakçılığı ile terör suçlarından dolayı hürriyeti bağlayıcı ceza almamış olmaları,<br>
                        şarttır.</p>
                    <p><strong>PSİKOTEKNİK DEĞERLENDİRME SÜRESİ</strong></p>
                    <p><b></b><br>
                        Psikoteknik değerlendirme süresi 60 dakikadır.<br>
                        60 Dakikadan az süre ile alınan raporlar geçersiz sayılır.</p>
                    <p><strong>Psiko-teknik Değerlendirme ve Psikiyatri Uzmanı Muayenesi</strong></p>
                    <p><strong>KARAYOLU TAŞIMA YÖNETMELİĞİ&nbsp;</strong></p>
                    <p><b>MADDE 60/e :</b>“(Ticari olarak yük/eşya ve yolcu taşımacılığı yapanlar) Sürücülerin Bedeni ve Psikoteknik açıdan sağlıklı olduklarını gösteren bir raporu yetkili sağlık kuruluşlarından her beş yılda bir almaları zorunludur” şeklindedir.</p>
                    <p><strong>Madde 79 –</strong>&nbsp;Kanunun ilgili maddelerinde tanımlanan nitelikteki trafik suçlarını işleyen sürücüler, ekte yer alan 4 sayılı Cetvel’de tanımlanan usul ve esaslara uygun olarak, psiko-teknik değerlendirme ve psikiyatri uzmanı muayenesine tabi tutulurlar. Muayene sonucu durumu uygun bulunan sürücülerin sürücü belgeleri Kanunun ilgili maddesinde belirtilen sürenin sonunda iade edilir.</p>
                    <p><strong>PSİKOTEKNİK RAPORUNUN GEÇERLİLİK SÜRESİ</strong></p>
                    <p><b></b><strong>Psikoteknik raporu alan ticari araç sürücüleri almış oldukları psikoteknik raporu&nbsp;</strong><br>
                        <b><strong><i>5 (beş) yıl&nbsp;</i></strong><strong>süre ile geçerlidir. Bu süre dolduktan sonra tekrar bu rapordan almaları gerekmektedir. Merkezimizden psikoteknik raporu alan sürücülerin rapor tarihi dolmadan 15 gün önceden hatırlatma yapılmaktadır.</strong></b></p>
                </div><!-- .entry-content -->


            </article><!-- #post-## -->



    </div>

{% endblock %}