{% extends "base.html.twig" %}
{% block body %}
    <div id="primary" class="container margintop-40">
                <h3>SRC Nedir?</h3>
                    <p>Karayolu Taşıma Yönetmeliği’ne göre şirketinize kayıtlı otobüs, minibüs, kamyon, kamyonet, çekici tescilli araçlarınızı kullanan sürücülerin alması gereken belge türüdür. Sürücülerin araç türüne uygun SRC1, SRC2, SRC3, SRC4 ya da SRC5 belgelerini bulundurmaları kanuni zorunluluktur.</p>

        <article >
            <h3 class="entry-title single-title">SRC 1 BELGESİ</h3>		<div class="colored-line-left"></div>

                <div  class="entry-content">

                    <p><strong>SRC 1 BELGESİ</strong></p>
                        <p>SRC 1 ULUSLARARASI YOLCU TAŞIMACILIĞI<br>
                            Bu belgeyi Uluslar arası yolcu taşımacılığı yapacak olan sürücüler alır. Eğitim süresi toplam 32 saattir.</p>
                        <p><strong>Src1 belgesini kimler alır?</strong></p>
                            <ul>
                                <li>&nbsp;Uluslararası ve Yurtiçi yolcu taşımacılığı yapanlar,</li>
                                <li>&nbsp;Personel taşımacılığı yapanlar,</li>
                                <li>&nbsp;Öğrenci Servisi çekenler,</li>
                                <li>&nbsp;Yolcu taşımak için imal edilmiş bir ticari aracı kullanan sürücülerin Src2 Belgesine sahip olmaları zorunludur.</li>
                            </ul>
                        <p><strong>Ticari taşıt kullanan şöförlerde aranan şartlar;</strong></p>
                            <ul>
                                <li>&nbsp;Otobüs kullanacaklar&nbsp;<strong><em><u>26</u></em></strong>&nbsp;Minibüs kullanacaklarda&nbsp;<strong><em><u>19</u></em></strong>&nbsp;yaşından gün almaları,</li>
                                <li>&nbsp;63 yaşından büyük olmamaları,</li>
                                <li>&nbsp;Kullanacağı araca göre sürücü belgesine sahip olmaları,</li>
                                <li>&nbsp;Psikoteknik Raporuna sahip olmaları,</li>
                                <li>&nbsp;En önemlisi&nbsp;<strong><em><u>SRC1 BELGESİNE&nbsp;</u></em></strong>sahip olmaları gerekmektedir.</li>
                            </ul>
                        <p><strong>Src1 belgesinin kapsamı;</strong></p>
                            <ul>
                                <li>&nbsp;Src1 Belgesini alanlar Src 2 belgesini de&nbsp; almış kabul edilir.</li>
                                <li>&nbsp;Src1 Belgesini alanlar hem yurtdışı, hem de yurtiçi yolcu taşımacılığı yapabilirler .</li>
                            </ul>
                    <p>&nbsp;</p>
                </div><!-- .entry-content -->


        </article><!-- #post-## -->







    </div>



    <div id="primary" class="container margintop-40">



            <article id="post-136" class="post-136 page type-page status-publish hentry">

                <h3 class="entry-title single-title">SRC 2 BELGESİ</h3>		<div class="colored-line-left"></div>


                    <div class="entry-content content-page " itemprop="text">
                        <p><strong>SRC2 Nedir?</strong></p>
                            <p>SRC2, Karayolu Taşıma Yönetmeliği’ne göre Yurtiçi Yolcu Taşımacılığı yapan sürücülerin almak zorunda olduğu mesleki yeterlilik belgesidir.</p>
                        <p><strong>SRC2 – Yurtiçi Yolcu Taşımacılığı Sürücü Mesleki Yeterlilik Eğitimi Kimlere Yönelik?</strong> </p>
                            <p>SRC2 Belgesini;</p>
                            <ol>
                                <li>Yurtiçi yolcu taşımacılığı yapan sürücüler ve</li>
                                <li>Otobüs, minibüs gibi ticari araçları kullanan sürücüler almalıdır.</li>
                            </ol>
                        <p><strong>4925 Sayılı Karayolu Taşıma Yönetmeliği’ne Göre (MADDE 36) Şoförlerde Aranacak Nitelik ve Şartlar: </strong></p>
                            <p>Bu Yönetmelik kapsamındaki faaliyetlerde çalışan/çalıştırılan şoförlerin;</p>
                            <ol>
                                <li>Taşıtın niteliğine uygun sürücü belgesine sahip olmaları,</li>
                                <li>İlgili mevzuatın öngördüğü mesleki yeterlilik belgesine sahip olmaları,</li>
                                <li>Büyük otobüs kullananlarının 26 yaşından gün almış olmaları,</li>
                                <li>Büyük otobüs kullananlarının 63 yaşından gün almamış olmaları,</li>
                                <li>Şoförlük mesleğine uygunluk bakımından bedensel ve psikoteknik açıdan sağlıklı olduklarını gösteren bir sağlık raporunu yetkili sağlık kuruluşlarından her beş yılda bir almaları,</li>
                                <li>Tehlikeli madde taşıyan taşıtları kullananlarının, ilgili mevzuatın öngördüğü eğitimi aldığını gösteren belgeye sahip olmaları,</li>
                                <li>Uyuşturucu, silah, insan ve gümrük kaçakçılığı ile terör suçlarından dolayı hürriyeti bağlayıcı ceza almamış olmaları şarttır.</li>
                            </ol>
                        <p><strong>SRC2 Belgesi Alma Şartları Nelerdir? SRC2 Nasıl Alınır?</strong></p>
                            <p>Ehliyetlerini 2003 yılından sonra almış veya SGK kaydı 2003 yılı sonrasında başlayanların Ulaştırma Bakanlığı’nın yetkilendirdiği kurumlardan eğitim almaları ve yine Ulaştırma Bakanlığı tarafından yapılacak sınavda başarılı olmaları gerekmektedir.</p>
                        <p><strong>Sınavsız SRC ve&nbsp;SRC Muafiyet Koşulları:</strong></p>
                        <p><strong>Eğitime ve Sınava girmeden SRC Belgesi alabilmek için;</strong></p>
                            <ul>
                                <li><strong>C-D- E Sınıfı ehliyeti olan sürücüler &nbsp; &nbsp; :</strong> 5 Şubat 2003’ten önce ehliyet sahibi olanlar kursa girmeden SRC Belgesi alabilirler.</li>
                                <li><strong>B sınıfı ehliyet sahibi olan sürücülerin;</strong></li>
                            </ul>
                            <ol>
                                <li>25 Şubat 2003’ten önce ehliyet sahibi olmaları ve</li>
                                <li>Ehliyeti aldıkları tarih ile 25 Şubat 2003 tarihi arasındaki dönemde 90 gün SSK veya Bağ-Kur primi ödemiş olmaları gerekir.</li>
                            </ol>
                            <p>25 şubat 2003 den önce;</p>
                            <ul>
                                <li><strong>B sınıfı ehliyeti olanlar &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;:</strong> SRC2 ve SRC4 için</li>
                                <li><strong>C-D-E &nbsp;sınıfı ehliyeti olanlar :</strong> SRC1 ve SRC3 için başvurabilirler.</li>
                            </ul>
                            <p>* 63 yaşından gün alanlar SRC Belgesi başvurusu yapamazlar.</p>
                        <p><strong>SRC2 Kursu</strong></p>
                            <p>SRC2 eğitimleri Ulaştırma, Denizcilik ve Haberleşme Bakanlığı tarafından Tehlikeli Madde Mesleki Yeterlilik Eğitimi Yetki Belgesi ile yetkilendirilen kurumlarımızda verilmektedir.</p>
                        <p><strong>SRC2 – Yurtiçi Yolcu Taşımacılığı Sürücü Mesleki Yeterlilik Eğitimi İçin Gerekli Belgeler</strong></p>
                            <ul>
                                <li>Nüfus cüzdan fotokopisi</li>
                                <li>Diploma fotokopisi</li>
                                <li>Ehliyet fotokopisi</li>
                                <li>1 adet vesikalık fotoğraf</li>
                            </ul>
                        <p><strong>SRC2 – Yurtiçi Yolcu Taşımacılığı Sürücü Mesleki Yeterlilik Eğitimi İçeriği</strong></p>
                            <p>28 saat süren SRC2 Yurtiçi Yolcu Taşımacılığı Mesleki Yeterlilik eğitim müfredatında yer alan konu başlıkları şunlardır:</p>
                            <ul>
                                <li>Güvenli sürüş teknikleri</li>
                                <li>Ulaştırma Mevzuatı</li>
                                <li>Trafik Kuralları, Cezalar</li>
                                <li>Trafik Kazalarının Önlenmesi</li>
                                <li>Çalışma ve Dinlenme Süreleri</li>
                                <li>Davranış Psikolojisi</li>
                                <li>İletişim Teknolojileri</li>
                                <li>Turizm Taşımacılığı</li>
                                <li>Düzenli Yolcu Taşımacılığı</li>
                                <li>Yasal Sorumluluklar ve Sigorta</li>
                                <li>Harita Okuma Bilgisi</li>
                                <li>İlk Yardım</li>
                                <li>Araç Bilgisi İle Ekonomik Araç Kullanımı</li>
                            </ul>
                    </div><!-- .entry-content -->


            </article><!-- #post-## -->



    </div>


    <div id="primary" class="container margintop-40">

            <article id="post-138" class="post-138 page type-page status-publish hentry">

                <header class="entry-header">
                    <h3 class="entry-title single-title" itemprop="headline">Src 3 Belgesi</h3>				<div class="colored-line-left"></div>
                    <div class="clearfix"></div>
                </header><!-- .entry-header -->

                <div class="entry-content content-page " itemprop="text">
                    <p><strong>SRC3 Nedir?</strong> </p>
                        <p>SRC3, Karayolu Taşıma Yönetmeliği’ne göre Uluslararası Eşya-Kargo Taşımacılığı yapan sürücülerin almak zorunda olduğu mesleki yeterlilik belgesidir.</p>
                    <p><strong>SRC3 – Uluslararası Eşya-Kargo Sürücü Mesleki Yeterlilik Eğitimi Kimlere Yönelik?</strong></p>
                        <p>SRC3 Belgesini;</p>
                        <ol>
                            <li>Uluslararası ve ulusal yük-eşya-kargo taşımacılığı yapan ve</li>
                            <li>Çekici, kamyon, kamyonet gibi ticari araçları kullanan sürücüler almalıdır.</li>
                        </ol>

                    <p><strong>SRC3 Belgesi Alma Şartları Nelerdir? SRC3 Nasıl Alınır?</strong></p>
                        <p>Ehliyetlerini 2003 yılından sonra almış olanlar veya SGK kaydı 2003 yılı sonrasında olanlar Ulaştırma Bakanlığının yetkilendirdiği kurumlardan eğitim alarak Ulaştırma Bakanlığının yapacağı sınavda başarılı olmaları gerekmektedir.</p>

                    <p><strong>SRC3 Kursu</strong></p>
                        <p>SRC3 eğitimleri T.C. Ulaştırma, Denizcilik ve Haberleşme Bakanlığı tarafından Tehlikeli Madde Mesleki Yeterlilik Eğitimi Yetki Belgesi ile yetkilendirilen kurumlarımızda verilmektedir.</p>
                    <p><strong>SRC3 – Uluslararası Eşya-Kargo Sürücü Mesleki Yeterlilik Eğitimi İçin Gerekli Belgeler</strong></p>
                        <ul>
                            <li>Nüfus cüzdan fotokopisi</li>
                            <li>Diploma fotokopisi</li>
                            <li>Ehliyet fotokopisi</li>
                            <li>1 adet vesikalık fotoğraf</li>
                        </ul>
                    <p><strong>SRC3 – Uluslararası Eşya-Kargo Sürücü Mesleki Yeterlilik Eğitimi İçeriği</strong></p>
                        <p>32 saat süren SRC3 Uluslararası ve Ulusal Yük Taşımacılığı Mesleki Yeterlilik eğitim müfredatında yer alan konu başlıkları şunlardır:</p>
                        <ul>
                            <li>Güvenli sürüş teknikleri</li>
                            <li>Ulaştırma Mevzuatı</li>
                            <li>Trafik Kuralları, Cezalar</li>
                            <li>Trafik Kazalarının Önlenmesi</li>
                            <li>Çalışma ve Dinlenme Süreleri</li>
                            <li>Davranış Psikolojisi</li>
                            <li>İletişim Teknolojileri</li>
                            <li>Gümrük, TIR ve Kaçakçılık Mevzuatı</li>
                            <li>Tehlikeli Madde Taşımacılığı</li>
                            <li>Güzergah ve Geçiş Belgeleri</li>
                            <li>Yasal Sorumluluklar ve Sigorta</li>
                            <li>Harita Okuma Bilgisi</li>
                            <li>İlk Yardım</li>
                            <li>Araç Bilgisi İle Ekonomik Araç Kullanımı</li>
                        </ul>
                </div><!-- .entry-content -->


            </article><!-- #post-## -->



    </div>


    <div id="primary" class="container margintop-40">

            <article id="post-140" class="post-140 page type-page status-publish hentry">

                <header class="entry-header">
                    <h3 class="entry-title single-title" itemprop="headline">Src 4 Belgesi</h3>				<div class="colored-line-left"></div>
                    <div class="clearfix"></div>
                </header><!-- .entry-header -->

                <div class="entry-content content-page " itemprop="text">
                    <p><strong>SRC4 Nedir?</strong></p>
                        <p>SRC4 Belgesi, Karayolu Taşıma Yönetmeliği’ne göre Yurtiçi Yük-Eşya-Kargo Taşımacılığı yapan sürücülerin almak zorunda olduğu mesleki yeterlilik belgesidir.</p>
                    <p><strong>SRC4 – Yurtiçi Yük-Eşya-Kargo Sürücü Mesleki Yeterlilik Eğitimi Kimlere Yönelik?</strong></p>
                        <p>SRC4 Belgesini;</p>
                        <ol>
                            <li>Yurtiçinde yük-eşya-kargo taşımacılığı yapan ve</li>
                            <li>Çekici, kamyon, kamyonet gibi ticari araçları kullanan sürücüler almalıdır.</li>
                        </ol>
                    <p><strong>SRC4 Belgesi Alma Şartları Nelerdir? SRC4 Nasıl Alınır?</strong></p>
                        <p>Ehliyetlerini 2003 yılından sonra almış veya SGK kaydı 2003 yılı sonrasında başlayanların Ulaştırma Bakanlığı’nın yetkilendirdiği kurumlardan eğitim almaları ve yine Ulaştırma Bakanlığı tarafından yapılacak sınavda başarılı olmaları gerekmektedir.</p>
                    <p><strong>Sınavsız SRC ve&nbsp;SRC Muafiyet Koşulları:</strong></p>
                    <p><strong>Eğitime ve Sınava girmeden SRC Belgesi alabilmek için;</strong></p>
                        <ul>
                            <li><strong>C-D- E Sınıfı ehliyeti olan sürücüler &nbsp; &nbsp; :</strong> 25 Şubat 2003’ten önce ehliyet sahibi olanlar kursa girmeden SRC Belgesi alabilirler.</li>
                            <li><strong>B sınıfı ehliyet sahibi olan sürücülerin;</strong></li>
                        </ul>
                        <ol>
                            <li>25 Şubat 2003’ten önce ehliyet sahibi olmaları ve</li>
                            <li>Ehliyeti aldıkları tarih ile 25 Şubat 2003 tarihi arasındaki dönemde 90 gün SSK veya Bağ-Kur primi ödemiş olmaları gerekir.</li>
                        </ol>
                        <p>25 Şubat 2003’ten önce;</p>
                        <ul>
                            <li><strong>B sınıfı ehliyeti olanlar &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;:</strong> SRC2 ve SRC4 için</li>
                            <li><strong>C-D-E sınıfı ehliyeti olanlar&nbsp; :</strong> SRC1 ve SRC3 için başvurabilirler.</li>
                        </ul>
                        <p>* 63 yaşından gün alanlar SRC başvurusu yapamazlar.</p>
                    <p><strong>SRC4 Kursu</strong></p>
                        <p>SRC4 eğitimleri Ulaştırma, Denizcilik ve Haberleşme Bakanlığı tarafından Tehlikeli Madde Mesleki Yeterlilik Eğitimi Yetki Belgesi ile yetkilendirilen kurumlarımızda verilmektedir.</p>
                    <p><strong>SRC4 – Yurtiçi Yük-Eşya-Kargo Sürücü Mesleki Yeterlilik Eğitimi İçin Gerekli Belgeler</strong></p>
                        <ul>
                            <li>Nüfus cüzdan fotokopisi</li>
                            <li>Diploma fotokopisi</li>
                            <li>Ehliyet fotokopisi</li>
                            <li>1 adet vesikalık fotoraf</li>
                        </ul>
                    <p><strong>SRC4 – Yurtiçi Yük-Eşya-Kargo Sürücü Mesleki Yeterlilik Eğitimi İçeriği</strong></p>
                        <p>28 saat süren SRC4 Yurtiçil Yük Taşımacılığı Mesleki Yeterlilik eğitim müfredatında yer alan konu başlıkları şunlardır:</p>
                        <ul>
                            <li>Güvenli sürüş teknikleri</li>
                            <li>Ulaştırma Mevzuatı</li>
                            <li>Trafik Kuralları, Cezalar</li>
                            <li>Trafik Kazalarının Önlenmesi</li>
                            <li>Çalışma ve Dinlenme Süreleri</li>
                            <li>Davranış Psikolojisi</li>
                            <li>İletişim Teknolojileri</li>
                            <li>Tehlikeli Madde Taşımacılığı</li>
                            <li>Güzergah ve Geçiş Belgeleri</li>
                            <li>Yasal Sorumluluklar ve Sigorta</li>
                            <li>Harita Okuma Bilgisi</li>
                            <li>İlk Yardım</li>
                            <li>Araç Bilgisi İle Ekonomik Araç Kullanımı</li>
                        </ul>
                </div><!-- .entry-content -->

            </article><!-- #post-## -->



    </div>


    <div id="primary" class="container margintop-40">

            <article id="post-142" class="post-142 page type-page status-publish hentry">

                <header class="entry-header">
                    <h3 class="entry-title single-title" itemprop="headline">Src 5 Belgesi</h3>
                    <div class="colored-line-left"></div>
                    <div class="clearfix"></div>
                </header><!-- .entry-header -->

                <div class="entry-content content-page " itemprop="text">
                    <p><strong>RC 5 / ADR Belgesi Nedir?</strong></p>
                        <p>SRC 5 – ADR Belgesi, Karayolu Taşıma Yönetmeliği’ne göre Tehlikeli Madde Taşımacılığı yapan sürücülerin almak zorunda olduğu mesleki yeterlilik belgesidir.</p>
                    <p><strong>SRC 5 ADR Belgesi – Tehlikeli Madde Taşımacılığı Mesleki Yeterlilik Eğitimi Kimlere Yöneliktir?</strong></p>
                        <p>ADR Sözleşmesi ve Tehlikeli Maddelerin Karayolu İle Taşınması Hakkındaki Yönetmelik ile Karayoluyla Tehlikeli Madde Taşıyan Araç Şoförlerine Yönelik Mesleki Yeterlilik Eğitimi Yönergesi çerçevesinde, SRC 5 Belgesi ( ADR Belgesi ) Tehlikeli Madde Taşımacılığı Sürücü Eğitimlerine;</p>
                        <ol>
                            <li>Tehlikeli maddelerin taşınmasında kullanılan araçların sürücüleri ve</li>
                            <li>Tehlikeli madde taşımacılığı sahasında sürücü olmak isteyenler katılım göstermelidir.</li>
                        </ol>
                    <p><strong>İlgili mevzuata ulaşmak için tıklayın.</strong></p>
                    <p><strong>SRC 5 – ADR Belgesi Nasıl Alınır?</strong></p>
                        <p>SRC 5 Belgesi tehlikeli madde taşımacılığı yapacak sürücülerin alması gereken mesleki yeterlilik belgesidir.</p>
                        <ul>
                            <li>SRC 5 Belgesi eğitimlerine katılabilmek için SRC3 veya SRC4 belgelerinden birine sahip olunması şartı vardır.</li>
                            <li>SRC 5 Belgesi için 19 saatlik eğitimin tamamlanması ve T.C. Ulaştırma, Denizcilik ve Haberleşme Bakanlığı’nın açacağı sınavda başarılı olunması gerekmektedir.</li>
                            <li>Sınav geçme notu 60’tır.</li>
                        </ul>
                    <p><strong>SRC 5 – ADR Belgesi – Tehlikeli Madde Taşımacılığı Mesleki Yeterlilik Eğitimi Amacı</strong></p>
                        <p>SRC5 Belgesi (ADR) Tehlikeli Madde Taşımacılığı Sürücü Eğitimlerimizde, tehlikeli maddelerin karayolu ile yurtiçinde ve yurtdışında taşımacılığını yapan firma sürücülerine, ADR Sözleşmesi, Tehlikeli Maddelerin Karayolu İle Taşınması Hakkındaki Yönetmelik ve Karayoluyla Tehlikeli Madde Taşıyan Araç Şoförlerine Yönelik Mesleki Yeterlilik Eğitimi Yönergesi gereği almakla yükümlü oldukları eğitimlerin verilmesi, sürücülerin SRC5 sahibi olma yeterliliği kazanmalarına yardımcı olunması, hata ve kazaların asgari düzeye indirilmesi ve çevrenin korunması amaçlanmaktadır.</p>
                    <p><strong>SRC 5 – ADR Belgesi Kursu</strong></p>
                        <p>SRC 5 – ADR Belgesi eğitimleri Ulaştırma, Denizcilik ve Haberleşme Bakanlığı tarafından Tehlikeli Madde Mesleki Yeterlilik Eğitimi Yetki Belgesi ile yetkilendirilen kurumlarımızda verilmektedir.</p>
                    <p><strong>SRC 5 – ADR Belgesi – Tehlikeli Madde Taşımacılığı Mesleki Yeterlilik Eğitimi İçin Gerekli Belgeler</strong></p>
                        <p>SRC 5 – ADR Belgesi Tehlikeli Madde Taşımacılığı Sürücü Temel Eğitimine başvuru için gereken belgeler şunlardır:</p>
                        <ol>
                            <li>SRC3 ve/veya SRC4 Belgesinin fotokopisi</li>
                            <li>1 adet vesikalık fotoğraf (son 6 ay içinde çekilmiş olmalı)</li>
                            <li>Kimlik fotokopisi</li>
                            <li>Ehliyet fotokopisi</li>
                            <li>Diploma fotokopisi</li>
                        </ol>
                    <p><strong>SRC 5 – ADR Belgesi – Tehlikeli Madde Taşımacılığı Mesleki Yeterlilik Eğitimi İçeriği</strong></p>
                        <p>SRC 5 – ADR Temel Eğitimi en az 19 ders saatinden oluşmak üzere asgari aşağıdaki hususları içerir:</p>
                        <ul>
                            <li>Tehlikeli malların taşınmasına ilişkin genel gereklilikler</li>
                            <li>Başlıca tehlike türleri</li>
                            <li>Atık naklinin denetlenmesinde çevrenin korunmasına ilişkin sorgulanacak/aranacak bilgiler/hususlar</li>
                            <li>Tehlike türleri için geçerli olan önleyici tedbirler ve güvenlik tedbirleri</li>
                            <li>Kaza sonrasında yapılması gerekenler (ilk yardım, yol güvenliği, koruyucu donanımın kullanımına dair temel bilgi, yazılı talimat vb.)</li>
                            <li>İşaretleme, etiketleme, levhalama; turuncu renkli ikaz levhasının kullanımı ve özellikleri</li>
                            <li>Tehlikeli malların taşınması esnasında şoförün yapması ve yapmaması gerekenler</li>
                            <li>Taşıtlardaki teknik teçhizatın çalıştırılma yöntemleri ve amaçları</li>
                            <li>Aynı taşıtta veya konteynerde karışık yüklemeye ilişkin yasaklar</li>
                            <li>Tehlikeli malların yüklenmesi ve boşaltılması esnasında alınacak tedbirler</li>
                            <li>Hukuki sorumluluklara ilişkin genel bilgiler</li>
                            <li>Çok-modlu taşımacılık faaliyetlerine ilişkin bilgiler</li>
                            <li>Paketlerin elleçlenmesi ve istiflenmesi</li>
                            <li>Tünellerde trafik kısıtlamaları ve davranış talimatları (kaza, güvenlik, yangın veya diğer acil durumlardan korunma vb.)</li>
                            <li>Emniyet bilinci (özellikle terör olaylarına ilişkin)</li>
                        </ul>
                </div><!-- .entry-content -->


            </article><!-- #post-## -->



    </div>

{% endblock %}
