{% extends "base.html.twig" %}
{% block body %}
    <div id="primary" class=" margintop-40">

            <article id="post-37" class="post-37 page type-page status-publish hentry">

                <header class="entry-header">
                    <h3 class="entry-title single-title">TMGD Eğitiminin Amacı ve Şartları</h3>
                </header><!-- .entry-header -->

                <div class="entry-content content-page ">
                    <p>Doğayı ve insanı korumaya katkı sağlama prensibimiz doğrultusunda Denizli Akademi olarak Ulaştırma, Denizcilik ve Haberleşme Bakanlığı’ndan aldığımız yetkiyle TMGD – Tehlikeli Madde Güvenlik Danışmanlığı eğitimlerimizi veriyoruz.<br>
                        Tehlikeli Madde Güvenlik Danışmanlığı Hakkında Tebliğ’in 22.05.2014 tarihli ve 29007 sayılı Resmi Gazete’de yayınlanarak yürürlüğe girmesiyle TMGD – Tehlikeli Madde Güvenlik Danışmanı olabilme şartlarına, görev ve sorumluluklarına açıklık getirilmiştir.</p>
                </div><!-- .entry-content -->

            </article><!-- #post-## -->

    </div>
{% endblock %}
