{% extends "base.html.twig" %}
{% block body %}

    <div id="primary" class="container margintop-40">

            <article id="post-154" class="post-154 page type-page status-publish hentry">

                <header class="entry-header">
                    <h3 class="entry-title single-title" itemprop="headline">Üdy Belgesi</h3>				<div class="colored-line-left"></div>
                    <div class="clearfix"></div>
                </header><!-- .entry-header -->

                <div class="entry-content content-page " itemprop="text">
                    <p><strong>ÜDY 1 BELGESİ ÜST DÜZEY YÖNETİCİ EĞİTİMLERİ </strong></p>
                        <p>ULUSLARARASI YOLCU TAŞIMACILIĞI SEKTÖRÜNDE ÇALIŞACAK VEYA ÇALIŞANLARIN ALMASI GEREKEN ÜST DÜZEY YÖNETİCİ BELGESİ. ÜDY1 BELGESİ ALAN YÖNETİCİLER ÜDY2, ODY1, ODY2 BELGELERİNİ DE ALMIŞ KABUL EDİLİR.</p>
                    <p><strong>ÜDY 2 BELGESİ</strong></p>
                    <p><strong>ÜST DÜZEY YÖNETİCİ EĞİTİMLERİ</strong></p>
                    <p>YURT İÇİ YOLCU TAŞIMACILIĞI SEKTÖRÜNDE ÇALIŞACAK VEYA ÇALIŞANLARIN ALMASI GEREKEN ÜST DÜZEY YÖNETİCİ BELGESİ</p>
                    <p><strong>ÜDY3 BELGESİ</strong></p>
                    <strong>ÜST DÜZEY YÖNETİCİ BELGESİ</strong>
                    <p>ULUSLARARASI YÜK, EŞYA VE KARGO TAŞIMACILIĞI SEKTÖRÜNDE ÇALIŞACAK VEYA ÇALIŞANLARIN ALMASI GEREKEN ÜST DÜZEY YÖNETİCİ BELGESİ. ÜDY3 BELGESİ ALAN YÖNETİCİLER ÜDY4, ODY3 VE ODY4 BELGESİNİ DE ALMIŞ KABUL EDİLİR.</p>
                    <p><span style="">Üst Düzey Yönetici Belgesi Alan Yöneticilerin Alacağı Unvanları; Yönetim kurulu başkanı, Yönetim kurulu üyesi, Genel müdür, Genel koordinatör, Genel sekreter Üst Düzey Yönetici Belgesi Eğitimlerine Giren Eğitmenler; 1 Prof.Dr, 2 Avukat, 3 Yrd.Doç.Dr. 12 Öğr.Görevlisi</span></p>
                    <p><span style=""><strong><span style="">ÜDY 4 BELGESİ</span></strong></span></p>
                    <strong>ÜST DÜZEY YÖNETİCİ BELGESİ</strong>
                    <p>YURT İÇİ YÜK, EŞYA VE KARGO TAŞIMACILIĞI SEKTÖRÜNDE ÇALIŞACAK VEYA ÇALIŞANLARIN ALMASI GEREKEN ÜST DÜZEY YÖNETİCİ BELGESİ</p>
                </div><!-- .entry-content -->


            </article><!-- #post-## -->



    </div>

    <div id="primary" class="container margintop-40">

            <article id="post-156" class="post-156 page type-page status-publish hentry">

                <header class="entry-header">
                    <h3 class="entry-title single-title" >Ody Belgesi</h3>				<div class="colored-line-left"></div>
                    <div class="clearfix"></div>
                </header><!-- .entry-header -->

                <div class="entry-content content-page " >
                    <p ><b><span style="color: #800000; font-size: small;">(ORTA DÜZEY YÖNETİCİ)</span></b></p>
                    <p>Karayolu Taşıma Yönetmeliği kapsamında faaliyet gösteren bir gerçek veya tüzel kişiliğin veya buna ait bağımsız bir birimin taşımacılık faaliyetlerini sürekli ve etkin bir şekilde sevk ve idare eden müdür/idareci, şef, uzman, operasyon yöneticisi, operatör ve benzeri unvanlarla istihdam edilen kişileri ifade eder.</p>
                    <p><a href="http://www.udybelgesi.com/udy_belgesi_nasil_alinir.asp">ÜDY BELGESİ NASIL ALINIR&gt;&gt;&gt;</a><br>
                        <a href="http://www.udybelgesi.com/ody_belgesi_nasil_alinir.asp">ODY BELGESİ NASIL ALINIR&gt;&gt;&gt;</a></p>
                    <p><span style="color: #d20000; font-size: large;"><b>ODY Belgeli Personel İstihdam Etme Zorunluluğu </b></span></p>
                    <p>30 Haziran 2010 Tarihinden İtibaren Yürürlükte</p>
                    <p>Karayolu Taşıma Yönetmeliği’nin “Yetki Belgesi Sahiplerinin Yükümlülüğü” başlıklı 43 üncü maddesinin 15’nci fıkrası; “Yetki belgesi sahipleri, ilk yetki belgesi aldıkları tarihten itibaren 6 ay içinde, mesleki yeterlilikle ilgili yükümlülüklerini yerine getirmek ve faaliyetleri süresince muhafaza etmekle yükümlüdürler.</p>
                    <p><b>Buna göre;</b>Mevcut (eski) yetki belgesi sahibi firmalar ÜDY veya ODY türü Mesleki Yeterlilik Belgesine sahip kişileri faaliyetleri süresince istihdam etmekle yükümlüdür. Yetki belgesini yeni almış firmalarda 6 ay içinde yükümlüklerini yerine getirmek ve eski yetki belgeli firmalarda olduğu gibi faaliyetleri süresince bu kişileri istihdam etmekle (muhafaza etmekle) yükümlüdürler.</p>
                    <p><span style="color: #800000;"><b>O</b></span><b><span style="color: #800000;">dy türü mesleki yeterlilik belgesi 4′ e ayrılır.</span></b></p>
                    <table id="table1" style="height: 119px;" border="1" width="814">
                        <tbody>
                        <tr>
                            <td align="left"><span style="font-size: small; margin-left: 140px;"> ODY 1 : Uluslararası yolcu taşımacılığı</span></td>
                        </tr>
                        <tr>
                            <td align="left"><span style="font-size: small; margin-left: 140px;"> ODY 2 : Yurtiçi yolcu taşımacılığı</span></td>
                        </tr>
                        <tr>
                            <td align="left"><span style="font-size: small; margin-left: 140px;"> ODY 3 : Uluslararası eşya-kargo taşımacılığı</span></td>
                        </tr>
                        <tr>
                            <td align="left"><span style="font-size: small;margin-left: 140px;"> ODY 4 : Yurtiçi eşya-kargo taşımacılığı</span></td>
                        </tr>
                        </tbody>
                    </table>
                </div><!-- .entry-content -->


            </article><!-- #post-## -->

    </div>

    <div id="primary" class="container margintop-40">



            <article id="post-159" class="post-159 page type-page status-publish hentry">

                <header class="entry-header">
                    <h3 class="entry-title single-title" itemprop="headline">Adr Belgesi</h3>				<div class="colored-line-left"></div>
                    <div class="clearfix"></div>
                </header><!-- .entry-header -->

                <div class="entry-content content-page ">
                    <p ><b><span style="color: #800000; font-size: x-large;">ADR BELGESİ<br></span>
                    <span style="color: #800000;  font-size: x-large;">SRC</span></b><span style="color: #800000;"><b><span style="font-size: x-large;"> 5 BELGESİ</span>
                    <span style=" font-size: large;"><br>TEHLİKELİ MADDE TAŞIMACILIĞI </span>
                    <span style="; font-size: small;"></span></b></span></p><b></b>
                    <p>SRC 5 BELGESİ ALMAK İÇİN ÖNCELİKLER SRC 3 VEYA SRC 4 BELGESİNE SAHİP OLUNMASI GEREKMEKTEDİR. SRC 5 EĞİTİMİ TOPLAM 16 SAAT OLUP HENÜZ YÖNETMELİĞİ HAZIRLANMAMIŞTIR.</p>
                    <p align="center"><span style="color: #800000;"><b><span style=" font-size: small;">Adr belgesi alacak olan katılımcıların yukarıda belirtildiği gibi src 3 ve 4 sertifikaya sahip olamaları yeterli olup adr belgesi&nbsp; için kayıt yaptırabilirler. Adr belgesi temel eğitim, tanker, sınıf 1, sınıf 7 şeklinde kategorilendirilmiştir.<br>
                        </span></b></span><span style=" font-size: small;"><br>
                    <b><span style="color: #800000;">Src türü mesleki yeterlilik belgesi 4′ e ayrılır.</span></b></span></p>

                    <table id="table1" border="1" width="95%">
                        <tbody>
                        <tr>
                            <td align="left"><span style="font-size: small; margin-left: 140px;"> SRC 1 : Uluslararası yolcu taşımacılığı</span></td>
                        </tr>
                        <tr>
                            <td align="left"><span style="font-size: small; margin-left: 140px;">SRC 2 : Yurtiçi yolcu taşımacılığı</span></td>
                        </tr>
                        <tr>
                            <td align="left"><span style="font-size: small; margin-left: 140px;"> SRC 3 : Uluslararası eşya-kargo taşımacılığı</span></td>
                        </tr>
                        <tr>
                            <td align="left"><span style="font-size: small; margin-left: 140px;"> SRC 4 : Yurtiçi eşya-kargo taşımacılığı</span></td>
                        </tr>
                        </tbody>
                    </table>
                </div><!-- .entry-content -->


            </article><!-- #post-## -->



    </div>
{% endblock %}